<footer class="container-fluid px-4 py-5 border-top text-secondary" style="font-size: 0.85rem;">
  <div class="row mb-4">
    <div class="col-md-3">
      <h4 class="text-dark fw-bold fs-5 mb-1">고객센터 1660-T380</h4>
      <p class="mb-2">운영시간 : 평일 10:00 ~ 16:00 (점심시간 11:30 ~ 13:30)</p>
      <div class="d-flex gap-2">
        <button class="btn btn-dark btn-sm rounded-0">자주하는 질문</button>
        <button class="btn btn-dark btn-sm rounded-0">1:1 문의</button>
      </div>
    </div>
    
    <div class="col-md-9 d-flex justify-content-between">
      <div>
        <h5 class="text-dark fw-bold fs-6">NOTICE</h5>
        <ul class="list-unstyled">
          <li><a href="javascript:void(0);" class="link nav-link">[공지] 시간정보처리방침 개정 안내</a></li>
          <li><a href="javascript:void(0);" class="link nav-link">[공지] 6월 시간 여행 일정 지연에 따른 대국민사과</a></li>
        </ul>
      </div>
      <div>
        <h5 class="text-dark fw-bold fs-6">시간여행</h5>
        <ul class="list-unstyled nav">
          <li><a href="javascript:void(0);" class="link text-dark nav-link">가이드</a></li>
          <li><a href="javascript:void(0);" class="link text-dark nav-link">팁&주의사항</a></li>
          <li><a href="javascript:void(0);" class="link text-dark nav-link">여행기</a></li>
        </ul>
      </div>
      </div>
  </div>
  
  <div class="border-top pt-3 text-muted">
    <p class="mb-1">시간정보 처리방침 | 이용약관 | 분쟁해결기준</p>
    <p class="mb-0">상호명: 시간 여행 상점 | 시간사업자등록번호: T000-00-00001 | 대표: 리코더</p>
  </div>
</footer>